html,
body {
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    color: #f0f0f0;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2e2e2e;
}

/* .form-signin {
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: auto;
} */


.title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--loginColor);
}

.form-signin .checkbox {
  font-weight: 400;
  color: #f0f0f0;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 12px;
  border-bottom-right-radius: 10;
  border-bottom-left-radius: 10;
}

.form-signin input[type="password"] {
  margin-bottom: 12px;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
}

:root {
    --loginBorderRadus: 0.25rem;
    --loginColor: #eee;
  
    --loginInputBackgroundColor: #3b4148;
    --loginInputHoverBackgroundColor: #434a52;
  
    --loginLabelBackgroundColor: #363b41;
  
    --loginSubmitBackgroundColor: #ea4c88;
    --loginSubmitColor: #eee;
    --loginSubmitHoverBackgroundColor: #d44179;
  }
