html, 
body{
  height: 100%;
  background-color: #363b41 !important;
}

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.login-form{
    width: 380px;
    height: 500px;
    padding: 24px;
    background-color:#fafafa !important;
    border-radius: 10px !important;
}

input[type="text"],
input[type="password"]{
    background:#ebf3ff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin-bottom: 24px;
}